USER_LANGUAGE="en"
USER_NO_STOP="y"
USER_INSTALL_TYPE="server"
USER_DIR="/var/ossec"
USER_DELETE_DIR="y"
USER_ENABLE_ACTIVE_RESPONSE="n"
USER_ENABLE_SYSCHECK="y"
USER_ENABLE_ROOTCHECK="y"
USER_UPDATE_RULES="y"

### Server/Local Installation variables. ###

# USER_ENABLE_EMAIL enables or disables email alerting.
USER_ENABLE_EMAIL="y"

# USER_EMAIL_ADDRESS defines the destination e-mail of the alerts.
USER_EMAIL_ADDRESS="antonio.barbaro@gmail.com"

# USER_EMAIL_SMTP defines the SMTP server to send the e-mails.
USER_EMAIL_SMTP="localhost"

# USER_ENABLE_SYSLOG enables or disables remote syslog.
USER_ENABLE_SYSLOG="y"

# USER_ENABLE_FIREWALL_RESPONSE enables or disables
# the firewall response.
USER_ENABLE_FIREWALL_RESPONSE="n"

#### exit ? ###
